<div class="large-12 medium-12 cell">
     <ul class="menu header">
          {{#if logged_in}}
          <li class="hide-for-small-only border-right"><a href="/user"><b>Profile</b></a></li>
          <li class="hide-for-small-only border-right"><a href="#"><b>Signed In</b></a></li>
          <li class="hide-for-small-only" id="log-out"><a href="#">Log Out</a></li>
          {{else}}
          <li class="hide-for-small-only border-right"><a href="/login">Log in</a></li>
          <li class="hide-for-small-only"><a href="/signup">Sign up</a></li>
          {{/if}}
     </ul>
</div>