{{#if logged_in}}
<hr />
<h5>Forum Tools</h5>
<hr />
<p><a href="/">View All Posts</a></p>
<p><a href="/createpost">Add New Post</a></p>
<hr />
{{else}}
<h3>Have we met?</h3>
<p>Please
  <a href="/login">sign in</a>
  to your account or
  <a href="/signup">create an account</a>
  to join the conversation.
</p>
{{/if}}