<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Welcome to Collective Cup hangout.  An information seeker's best kept secret.  Sign up for free and become part of our fourm collective, where similar minds pursue questions that frame the answers." />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Collective Cup | Information Hub</title>

  <!-- Foundation CSS -->
  <link rel="stylesheet" href="./assets/css/foundation.css" />
  <link rel="stylesheet" href="./assets/css/app.css" />

  <link rel="stylesheet" href="./assets/css/aos.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Roboto&display=swap"
    rel="stylesheet" />

</head>

<body>

  {{{body}}}

  <script src="./assets/js/vendor/jquery.js"></script>
  <script src="./assets/js/vendor/what-input.js"></script>
  <script src="./assets/js/vendor/foundation.js"></script>
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/aos.js"></script>
  <script>
    AOS.init({ easing: 'ease-in-out-sine' });
  </script>
</body>

</html>