<div class="grid-container" style="background-color: b9a68f;">

   <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="large-6 medium-6 cell">
         <div class="hero-section-text" data-aos="fade-up" data-aos-duration="500">
            <!-- data-aos="fade-up" data-aos-duration="500" -->
            <h1><span>Log in to Your Account</span></h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
               labore et dolore magna aliqua.</h5>
            <form class="log-in-form" id="log-form">
               <label>
                  <input type="email" placeholder="somebody@example.com" id="email_log">
               </label>
               <label>
                  <input type="password" placeholder="Password" id="password_log">
               </label>
               <p class="forgot-password"><a href="#">Forgot your password?</a></p>
               <p><input type="submit" class="button orange expanded" value="Log in"></input></p>

            </form>
         </div>
      </div>
   </div>
{{!-- </div> --}}

{{!-- <script src="/assets/js/login.js"></script> --}}
{{!--
<script src="./js/login.js"></script> --}}