<div class="grid-container">
   <div class="grid-x grid-padding-x grid-padding-y">
      <div class="large-12 cell forum-title">
         <h2 class="text-center">Web Developer Forum</h2>
      </div>
      <div class="large-12 cell breadcrumbs-wrap">
         <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
               <li><a href="/">Forum Home</a></li>
               <li>
                  <span class="show-for-sr">Current: </span> Create Post
               </li>
            </ul>
         </nav>
      </div>
      <div class="large-3 medium-4 cell have-we-met">
         <h4>Welcome, back</h4>
         <h6><i>{{username}}</i></h6>
         <hr>
         <h5>Forum Tools</h5>
         <p><a href="/">Show Posts</a>
         </p>
      </div>
      <div class="large-9 medium-8 cell">

         {{!-- Users posts go here --}}

      </div>
   </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y footer">
   <div class="large-12 medium-12 cell">
      <ul class="menu">
         <li class="hide-for-small-only border-right"><a href="/index">Home</a></li>
         <li class="hide-for-small-only border-right"><a href="/login">Log in</a></li>
         <li class="hide-for-small-only border-right"><a href="/signup">Sign up</a></li>
         <li class="hide-for-small-only"><a href="/">&copy;2022 Collective Cup, Inc.</a></li>
      </ul>
   </div>
</div>
