<!-- Posts list item -->
<div class="post-item">
  {{! <a href="#" class="post-thumbnail">
    <img src="https://static.pexels.com/photos/370018/pexels-photo-370018.jpeg" alt="" />
  </a> }}
  <div class="post-text">
    <a href="#">
      <h3 class="post-title">{{title}}</h3>
    </a>
    <div class="post-meta">
      <span class="meta"><span class="meta-icon fa fa-user-circle-o" aria-hidden="true"></span><a
          class="meta-text">{{name}}</a></span>
      {{! <span class="meta"><span class="meta-icon fa fa-clock-o" aria-hidden="true"></span><span
          class="meta-text">22/06/2030</span></span> }}
    </div>
    <div class="post-summary">
      <p>{{description}}
        <a href="#" class="post-read-more">Read more<span class="fa fa-chevron-circle-right"
            aria-hidden="true"></span></a>
      </p>
    </div>
  </div>
</div>

{{!-- 
something --}}